openapi: 3.0.0
info:
  version: "2.0.0"
  title: Tapis API
  description: >-
    <h2> Your Science-as-a-Service API Platform. </h2>

    <p> For more information, visit <a
    href="https://tacc-cloud.readthedocs.io/projects/agave/en/latest/">https://tacc-cloud.readthedocs.io/projects/agave/en/latest/</a> </p>
  contact:
    email: aci@tacc.utexas.edu
tags: []
servers:
  - url: 'https://api.tacc.utexas.edu/'
  - url: 'https://agave.designsafe-ci.org/'
  - url: 'https://localhost:8080/'
security: 
  - Oauth: []
  - bearerAuth: []
  - wso2jwtDevAuth: []
paths:
  /apps/v2/:
    get:
      description: Get a list of available applications.
      summary: appsList
      operationId: appsList
      parameters:
        - name: publicOnly
          in: query
          required: false
          description: Whether to return only public apps.
          schema:
            type: string
        - name: privateOnly
          in: query
          required: false
          description: Whether to return only private apps.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleApplicationResponse'
    post:
      description: Register and update new applications.
      summary: appsAddUpdate
      operationId: appsAddUpdate
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleApplicationResponse'
      requestBody:
        $ref: '#/components/requestBodies/ApplicationRequest'
  '/apps/v2/{appId}':
    get:
      description: Get details of an application by it's unique id.
      summary: appsGet
      operationId: appsGet
      parameters:
        - name: appId
          in: path
          required: true
          description: >-
            The id of the application. The application id is made up of the name
            and version separated by a dash.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleApplicationResponse'
    post:
      description: Update an application.
      summary: appsUpdate
      operationId: appsUpdate
      parameters:
        - name: appId
          in: path
          required: true
          description: >-
            The id of the application. The application id is made up of the name
            and version separated by a dash.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleApplicationResponse'

      requestBody:
        $ref: '#/components/requestBodies/ApplicationRequest'
    put:
      description: Edit an application.
      summary: appsEdit
      operationId: appsEdit
      parameters:
        - name: appId
          in: path
          required: true
          description: >-
            The id of the application. The application id is made up of the name
            and version separated by a dash.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleApplicationResponse'

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationOperationRequest'
        description: The operation to perform.
        required: true
    delete:
      description: Deletes an application.
      summary: appsDelete
      operationId: appsDelete
      parameters:
        - name: appId
          in: path
          required: true
          description: >-
            The id of the application. The application id is made up of the name
            and version separated by a dash.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApplicationResponse'

  '/apps/v2/{appId}/pems':
    get:
      description: Get the permission ACL for this application.
      summary: appsPemsList
      operationId: appsPemsList
      parameters:
        - name: appId
          in: path
          required: true
          description: >-
            The id of the application. The application id is made up of the name
            and version separated by a dash.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPermissionResponse'

    post:
      description: Add or update a user's permission for an application.
      summary: AppsV2PemsByAppIdPost
      operationId: appsPemsAddUpdate
      parameters:
        - name: appId
          in: path
          required: true
          description: >-
            The id of the application. The application id is made up of the name
            and version separated by a dash.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApplicationResponse'

      requestBody:
        $ref: '#/components/requestBodies/ApplicationPermissionRequest'
    delete:
      description: Deletes all permissions on an application.
      summary: AppsV2PemsByAppIdDelete
      operationId: appsPemsDelete
      parameters:
        - name: appId
          in: path
          required: true
          description: >-
            The id of the application. The application id is made up of the name
            and version separated by a dash.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApplicationResponse'

  '/apps/v2/{appId}/pems/{username}':
    get:
      description: Get a specific user's permissions for an application.
      summary: AppsV2PemsByAppIdAndUsernameGet
      operationId: appsPemsListByUsername
      parameters:
        - name: appId
          in: path
          required: true
          description: >-
            The id of the application. The application id is made up of the name
            and version separated by a dash.
          schema:
            type: string
        - name: username
          in: path
          required: true
          description: The username of the api user associated with the permission.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPermissionResponse'

    post:
      description: Add or update a user's permission for an application.
      summary: AppsV2PemsByAppIdAndUsernamePost
      operationId: appsPemsAddUpdateByUsername
      parameters:
        - name: appId
          in: path
          required: true
          description: >-
            The id of the application. The application id is made up of the name
            and version separated by a dash.
          schema:
            type: string
        - name: username
          in: path
          required: true
          description: The username of the api user associated with the permission
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApplicationResponse'

      requestBody:
        $ref: '#/components/requestBodies/ApplicationPermissionRequest'
    delete:
      description: Deletes all permissions for the given user on an application.
      summary: AppsV2PemsByAppIdAndUsernameDelete
      operationId: appsPemsDeleteByUsername
      parameters:
        - name: appId
          in: path
          required: true
          description: >-
            The id of the application. The application id is made up of the name
            and version separated by a dash.
          schema:
            type: string
        - name: username
          in: path
          required: true
          description: The username of the api user associated with the permission
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApplicationResponse'

  '/apps/v2/name/{name}':
    get:
      description: Get a list of applications with the given name.
      summary: AppsV2NameByNameGet
      operationId: appsListByName
      parameters:
        - name: name
          in: path
          required: true
          description: >-
            The name of the application. This should not include the version
            number.
          schema:
            type: string
        - name: publicOnly
          in: query
          required: false
          description: Whether to return only public apps.
          schema:
            type: string
        - name: privateOnly
          in: query
          required: false
          description: Whether to return only private apps.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleApplicationResponse'

  '/apps/v2/tag/{tag}':
    get:
      description: Get a list of applications with the given tag.
      summary: AppsV2TagByTagGet
      operationId: appsGetByTag
      parameters:
        - name: tag
          in: path
          required: true
          description: The tag of the application.
          schema:
            type: string
        - name: publicOnly
          in: query
          required: false
          description: Whether to return only public apps.
          schema:
            type: string
        - name: privateOnly
          in: query
          required: false
          description: Whether to return only private apps.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleApplicationResponse'

 
  '/apps/v2/{uniqueName}/form':
    get:
      description: Get a submission form for the named application.
      summary: AppsV2FormByUniqueNameGet
      operationId: appsFormByName
      parameters:
        - name: uniqueName
          in: path
          required: true
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationFormResponse'

 

  '/files/v2/media/system/{systemId}/{filePath}':
    get:
      description: Download a file from the user's default storage location.
      summary: FilesV2MediaSystemBySystemIdAndFilePathGet
      operationId: filesDownload
      parameters:
        - name: systemId
          in: path
          required: true
          description: The unique id of the system on which the data resides.
          schema:
            type: string
        - name: filePath
          in: path
          required: true
          description: >-
            The path of the file relative to the user's default storage
            location.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}

    post:
      description: >-
        Import a file via direct upload or importing from a url to the user's
        default storage location.
      summary: FilesV2MediaSystemBySystemIdAndFilePathPost
      operationId: filesImport
      parameters:
        - name: systemId
          in: path
          required: true
          description: The unique id of the system on which the data resides.
          schema:
            type: string
        - name: filePath
          in: path
          required: true
          description: >-
            The path of the file relative to the user's default storage
            location.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleRemoteFileResponse'

      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                fileType:
                  description: >-
                    The file format this file is in. Defaults to raw. This will be
                    used in file transform operations.
                  type: string
                callbackURL:
                  description: >-
                    The URI to notify when the import is complete. This can be an
                    email address or http URL. If a URL is given, a GET will be
                    made to this address. URL templating is supported. Valid
                    template values are ${NAME}, ${SOURCE_FORMAT},
                    ${DEST_FORMAT}, ${STATUS}
                  type: string
                fileName:
                  description: >-
                    The name of the file after importing. If not specified, the
                    uploaded file name will be used.
                  type: string
                urlToIngest:
                  description: >-
                    The URL to import the file from. This parameter is used if not
                    file is uploaded with this post.
                  type: string
                fileToUpload:
                  description: The file object to import.
                  type: string
    put:
      description: Perform an action on a file or folder.
      summary: FilesV2MediaSystemBySystemIdAndFilePathPut
      operationId: filesActions
      parameters:
        - name: systemId
          in: path
          required: true
          description: The unique id of the system on which the data resides.
          schema:
            type: string
        - name: filePath
          in: path
          required: true
          description: >-
            The path of the file relative to the user's default storage
            location.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyRemoteFileResponse'

      requestBody:
        $ref: '#/components/requestBodies/FileOperationRequest'
    delete:
      description: Deletes a file or folder.
      summary: FilesV2MediaSystemBySystemIdAndFilePathDelete
      operationId: filesDelete
      parameters:
        - name: systemId
          in: path
          required: true
          description: The unique id of the system on which the data resides.
          schema:
            type: string
        - name: filePath
          in: path
          required: true
          description: >-
            The path of the file relative to the user's default storage
            location.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyRemoteFileResponse'

  
  '/files/v2/listings/system/{systemId}/{filePath}':
    get:
      description: Get a remote directory listing on a specific system.
      summary: FilesV2ListingsSystemBySystemIdAndFilePathGet
      operationId: filesList
      parameters:
        - name: systemId
          in: path
          required: true
          description: The unique id of the system on which the data resides.
          schema:
            type: string
        - name: filePath
          in: path
          required: true
          description: >-
            The path of the file relative to the user's default storage
            location.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleRemoteFileResponse'

  '/files/v2/history/{filePath}':
    get:
      description: Get file history.
      summary: FilesV2HistoryByFilePathGet
      operationId: filesHistoryDefault
      parameters:
        - name: filePath
          in: path
          required: true
          description: >-
            The path of the file relative to the user's default storage
            location.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileHistoryResponse'

  '/files/v2/history/system/{systemId}/{filePath}':
    get:
      description: Download a file from the user's default storage location.
      summary: FilesV2HistorySystemBySystemIdAndFilePathGet
      operationId: filesHistory
      parameters:
        - name: filePath
          in: path
          required: true
          description: The path of the file relative to the given system root location.
          schema:
            type: string
        - name: systemId
          in: path
          required: true
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileHistoryResponse'

  '/files/v2/pems/{filePath}':
    get:
      description: List all the share permissions for a file or folder.
      summary: FilesV2PemsByFilePathGet
      operationId: filesPemsDefault
      parameters:
        - name: filePath
          in: path
          required: true
          description: >-
            The path of the file relative to the user's default storage
            location.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiplePermissionResponse'

    post:
      description: Update permissions for a single user.
      summary: FilesV2PemsByFilePathPost
      operationId: filesPemsDefaultAddUpdate
      parameters:
        - name: filePath
          in: path
          required: true
          description: >-
            The path of the file relative to the user's default storage
            location.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyRemoteFileResponse'

      requestBody:
        $ref: '#/components/requestBodies/FilePermissionRequest'
  '/files/v2/pems/system/{systemId}/{filePath}':
    get:
      description: List all the share permissions for a file or folder.
      summary: FilesV2PemsSystemBySystemIdAndFilePathGet
      operationId: filesPemsAddUpdate
      parameters:
        - name: filePath
          in: path
          required: true
          description: >-
            The path of the file relative to the user's default storage
            location.
          schema:
            type: string
        - name: systemId
          in: path
          required: true
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiplePermissionResponse'

    post:
      description: Update permissions for a single user.
      summary: FilesV2PemsSystemBySystemIdAndFilePathPost
      operationId: filesPemsAddUpdateByUser
      parameters:
        - name: filePath
          in: path
          required: true
          description: >-
            The path of the file relative to the user's default storage
            location.
          schema:
            type: string
        - name: systemId
          in: path
          required: true
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyRemoteFileResponse'

      requestBody:
        $ref: '#/components/requestBodies/FilePermissionRequest'
    delete:
      description: Deletes all permissions on a file except those of the owner.
      summary: FilesV2PemsSystemBySystemIdAndFilePathDelete
      operationId: filesPemsDelete
      parameters:
        - name: filePath
          in: path
          required: true
          description: >-
            The path of the file relative to the user's default storage
            location.
          schema:
            type: string
        - name: systemId
          in: path
          required: true
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyRemoteFileResponse'

  /jobs/v2/:
    get:
      description: Get a list of jobs the authenticated user had submitted.
      summary: JobsV2Get
      operationId: jobsList
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleJobResponse'

    post:
      description: Submit a new job request.
      summary: JobsV2Post
      operationId: jobsCreate
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleJobResponse'

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobRequest'
        description: >-
          The description of the job to submit. This can be either a file upload
          or json posted to the request body.
        required: true
  '/jobs/v2/{jobId}':
    get:
      description: Get details of the job with the specific job id.
      summary: JobsV2ByJobIdGet
      operationId: jobsGet
      parameters:
        - name: jobId
          in: path
          required: true
          description: The id of the job.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleJobResponse'

    post:
      description: Perform an action on a job.
      summary: JobsV2ByJobIdPost
      operationId: jobsActions
      parameters:
        - name: jobId
          in: path
          required: true
          description: The id of the job.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleJobResponse'

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobOperationRequest'
        description: The operation to perform.
        required: true
    delete:
      description: Deletes a job from the user's history.
      summary: JobsV2ByJobIdDelete
      operationId: jobsDelete
      parameters:
        - name: jobId
          in: path
          required: true
          description: The id of the job.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyJobResponse'

  '/jobs/v2/{jobId}/history':
    get:
      description: Get the history of this job.
      summary: JobsV2HistoryByJobIdGet
      operationId: jobsHistory
      parameters:
        - name: jobId
          in: path
          required: true
          description: The id of the job.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobHistoryResponse'

  '/jobs/v2/{jobId}/pems':
    get:
      description: Get the permission ACL for this job.
      summary: JobsV2PemsByJobIdGet
      operationId: jobsPems
      parameters:
        - name: jobId
          in: path
          required: true
          description: The id of the job.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobPermissionResponse'

    post:
      description: Add or update a user's permission for an application.
      summary: JobsV2PemsByJobIdPost
      operationId: jobsPemsAddUpdate
      parameters:
        - name: jobId
          in: path
          required: true
          description: The id of the job.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyJobResponse'

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobPermissionRequest'
        description: The permission add or update.
        required: true
    delete:
      description: Deletes all permissions on an job.
      summary: JobsV2PemsByJobIdDelete
      operationId: jobsPemsDelete
      parameters:
        - name: jobId
          in: path
          required: true
          description: The id of the job.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyJobResponse'

  '/jobs/v2/{jobId}/pems/{username}':
    get:
      description: Get a specific user's permissions for a job.
      summary: JobsV2PemsByJobIdAndUsernameGet
      operationId: jobsPemsByUser
      parameters:
        - name: jobId
          in: path
          required: true
          description: The id of the job.
          schema:
            type: string
        - name: username
          in: path
          required: true
          description: The username of the api user associated with the permission.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobPermissionResponse'

    post:
      description: Add or update a user's permission for an job.
      summary: JobsV2PemsByJobIdAndUsernamePost
      operationId: jobsPemsByUserAddUpdate
      parameters:
        - name: jobId
          in: path
          required: true
          description: The id of the job.
          schema:
            type: string
        - name: username
          in: path
          required: true
          description: The username of the api user associated with the permission
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyJobResponse'

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobPermissionRequest'
        description: The permission to update.
        required: true
    delete:
      description: Deletes all permissions for the given user on an job.
      summary: JobsV2PemsByJobIdAndUsernameDelete
      operationId: jobsPemsByUserDelete
      parameters:
        - name: username
          in: path
          required: true
          description: The username of the api user associated with the permission
          schema:
            type: string
        - name: jobId
          in: path
          required: true
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApplicationResponse'

  '/jobs/v2/{jobId}/status':
    get:
      description: Get the status of the job.
      summary: JobsV2StatusByJobIdGet
      operationId: jobsStatus
      parameters:
        - name: jobId
          in: path
          required: true
          description: The id of the job.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'

  '/jobs/v2/{jobId}/ouputs/listings/{filePath}':
    get:
      description: List the output folder for a job.
      summary: JobsV2OuputsListingsByJobIdAndFilePathGet
      operationId: jobsOutputs
      parameters:
        - name: jobId
          in: path
          required: true
          description: The id of the job.
          schema:
            type: string
        - name: filePath
          in: path
          required: true
          description: >-
            The path to an output file or folder relative to the job output
            directory. This resource will follow data around as it moves from
            the execution system to archival storage.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleRemoteFileResponse'

  '/jobs/v2/{jobId}/ouputs/media/{filePath}':
    get:
      description: Download an output file from a specific job.
      summary: JobsV2OuputsMediaByJobIdAndFilePathGet
      operationId: jobsOutputsDownload
      parameters:
        - name: jobId
          in: path
          required: true
          description: The id of the job.
          schema:
            type: string
        - name: filePath
          in: path
          required: true
          description: The path to an output file relative to the job output directory.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/jobs/v2/{attribute}/{value}':
    get:
      description: Find jobs matching the given attribute/value combination(s).
      summary: JobsV2ByAttributeAndValueGet
      operationId: jobsSearch
      parameters:
        - name: attribute
          in: path
          required: true
          description: The attribute to query by. This can be any job field.
          schema:
            type: string
        - name: value
          in: path
          required: true
          description: The value of the attribute to query for.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleJobResponse'

  /meta/v2/data:
    get:
      description: List and/or search metadata.
      summary: MetaV2DataGet
      operationId: metadataList
      parameters:
        - name: q
          in: query
          required: true
          description: The query to perform. Traditional MongoDB queries are supported
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleMetadataResponse'
        '400':
          description: >-
            Raised if a user does not supply a UUID or supplies an invalid JSON
            query
          content:
            application/json:
              schema: {}
        '401':
          description: Raised if the user is not authorized.
          content:
            application/json:
              schema: {}
        '403':
          description: Failed to authenticate the user
          content:
            application/json:
              schema: {}
        '404':
          description: The specified metadata cannot be found
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the metadata database
          content:
            application/json:
              schema: {}

    post:
      description: Update or Add new Metadata.
      summary: MetaV2DataPost
      operationId: metadataCreate
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
        '400':
          description: Raised if a user supplies an invalid form
          content:
            application/json:
              schema: {}
        '401':
          description: Raised if the user is not authorized.
          content:
            application/json:
              schema: {}
        '403':
          description: Failed to authenticate the user
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the metadata database
          content:
            application/json:
              schema: {}

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataRequest'
        description: The metadata to add.
        required: true
  '/meta/v2/data/{uuid}':
    get:
      description: Retrieve Metadata.
      summary: MetaV2DataByUuidGet
      operationId: metadataGet
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the metadata item
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
        '400':
          description: Raised if a user does not supply a UUID
          content:
            application/json:
              schema: {}
        '401':
          description: Raised if the user is not authorized.
          content:
            application/json:
              schema: {}
        '403':
          description: Failed to authenticate the user
          content:
            application/json:
              schema: {}
        '404':
          description: The specified metadata cannot be found
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the metadata database
          content:
            application/json:
              schema: {}

    post:
      description: Update or Add new Metadata.
      summary: MetaV2DataByUuidPost
      operationId: metadataAddUpdate
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the metadata item
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
        '400':
          description: Raised if a user supplies an invalid form
          content:
            application/json:
              schema: {}
        '401':
          description: Raised if the user is not authorized.
          content:
            application/json:
              schema: {}
        '403':
          description: Failed to authenticate the user
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the metadata database
          content:
            application/json:
              schema: {}

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataRequest'
        description: The metadata to update.
        required: true
    delete:
      description: Remove Metadata from the system.
      summary: MetaV2DataByUuidDelete
      operationId: metadataDelete
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the metadata item
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyMetadataResponse'
        '400':
          description: Raised if a user supplies no UUID
          content:
            application/json:
              schema: {}
        '401':
          description: Raised if the user is not authorized.
          content:
            application/json:
              schema: {}
        '403':
          description: Failed to authenticate the user
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the metadata database
          content:
            application/json:
              schema: {}

  /meta/v2/schemas:
    get:
      description: Retrieve Metadata Schemata.
      summary: MetaV2SchemasGet
      operationId: metadataSchemasList
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataSchemaResponse'
        '400':
          description: Raised if a user does not supply a Schema UUID
          content:
            application/json:
              schema: {}
        '403':
          description: Failed to authenticate the user
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the schema database
          content:
            application/json:
              schema: {}

    post:
      description: Add a new Metadata Schema.
      summary: MetaV2SchemasPost
      operationId: metadataSchemasCreate
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataSchemaResponse'
        '400':
          description: Raised if a user supplies an invalid form or JSON schema
          content:
            application/json:
              schema: {}
        '401':
          description: Raised if the user is not authorized.
          content:
            application/json:
              schema: {}
        '403':
          description: Failed to authenticate the user
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the schema database
          content:
            application/json:
              schema: {}

      requestBody:
        $ref: '#/components/requestBodies/metadataSchemasCreateBody'
  '/meta/v2/schemas/{uuid}':
    get:
      description: Retrieve Metadata Schemata.
      summary: MetaV2SchemasByUuidGet
      operationId: metadataSchemasGet
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the metadata schema item
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataSchemaResponse'
        '400':
          description: Raised if a user does not supply a Schema UUID
          content:
            application/json:
              schema: {}
        '403':
          description: Failed to authenticate the user
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the schema database
          content:
            application/json:
              schema: {}

    post:
      description: Update or Add a new Metadata Schema.
      summary: MetaV2SchemasByUuidPost
      operationId: metadataSchemasAddUpdate
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the metadata schema item
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataSchemaResponse'
        '400':
          description: Raised if a user supplies an invalid form or JSON schema
          content:
            application/json:
              schema: {}
        '401':
          description: Raised if the user is not authorized.
          content:
            application/json:
              schema: {}
        '403':
          description: Failed to authenticate the user
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the schema database
          content:
            application/json:
              schema: {}

      requestBody:
        $ref: '#/components/requestBodies/metadataSchemasCreateBody'
    delete:
      description: Remove Metadata Schema from the system.
      summary: MetaV2SchemasByUuidDelete
      operationId: metadataSchemasDelete
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the metadata schema item
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyMetadataResponse'
        '400':
          description: Raised if a user does not supply a Schema UUID
          content:
            application/json:
              schema: {}
        '401':
          description: Raised if the user is not authorized.
          content:
            application/json:
              schema: {}
        '403':
          description: Failed to authenticate the user
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the schema database
          content:
            application/json:
              schema: {}

  '/meta/v2/data/{uuid}/pems':
    get:
      description: Get the permission ACL for this metadata.
      summary: MetaV2DataPemsByUuidGet
      operationId: metadataPemsList
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the metadata item
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleMetadataPermissionResponse'
        '400':
          description: Raised if a metadata UUID is not supplied or is invalid.
          content:
            application/json:
              schema: {}
        '403':
          description: >-
            Failed to authenticate the user or the user is not authorized to
            access the specified metadata.
          content:
            application/json:
              schema: {}
        '404':
          description: The specified metadata cannot be found
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the metadata database
          content:
            application/json:
              schema: {}

    post:
      description: Add or update a user's permission for the given metadata.
      summary: MetaV2DataPemsByUuidPost
      operationId: metadataPemsAddUpdate
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the metadata item
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataPermissionResponse'
        '400':
          description: >-
            Raised if a valid metadata UUID is not supplied or if the form is
            invalid.
          content:
            application/json:
              schema: {}
        '403':
          description: >-
            Failed to authenticate the user or the user is not authorized to
            access the specified metadata.
          content:
            application/json:
              schema: {}
        '404':
          description: The specified user cannot be found
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the metadata database
          content:
            application/json:
              schema: {}

      requestBody:
        $ref: '#/components/requestBodies/MetadataPermissionRequest'
    delete:
      description: Deletes all permissions on the given metadata.
      summary: MetaV2DataPemsByUuidDelete
      operationId: metadataPemsDeleteByUser
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the metadata item
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyMetadataResponse'
        '400':
          description: Raised if a metadata UUID is not supplied or is invalid.
          content:
            application/json:
              schema: {}
        '403':
          description: >-
            Failed to authenticate the user or the user is not authorized to
            access the specified metadata.
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the metadata database
          content:
            application/json:
              schema: {}

  '/meta/v2/data/{uuid}/pems/{username}':
    get:
      description: Get the permission ACL for this metadata.
      summary: MetaV2DataPemsByUuidAndUsernameGet
      operationId: metadataPemsGetByUser
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the metadata item
          schema:
            type: string
        - name: username
          in: path
          required: true
          description: The username of the permission owner
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataPermissionResponse'
        '400':
          description: Raised if a metadata UUID is not supplied or is invalid.
          content:
            application/json:
              schema: {}
        '403':
          description: >-
            Failed to authenticate the user or the user is not authorized to
            access the specified metadata.
          content:
            application/json:
              schema: {}
        '404':
          description: The specified metadata cannot be found
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the metadata database
          content:
            application/json:
              schema: {}

    post:
      description: Add or update a user's permission for the given metadata.
      summary: MetaV2DataPemsByUuidAndUsernamePost
      operationId: metadataPemsAddUpdateByUser
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the metadata item
          schema:
            type: string
        - name: username
          in: path
          required: true
          description: The username of the permission owner
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataPermissionResponse'
        '400':
          description: >-
            Raised if a valid metadata UUID is not supplied or if the form is
            invalid.
          content:
            application/json:
              schema: {}
        '403':
          description: >-
            Failed to authenticate the user or the user is not authorized to
            access the specified metadata.
          content:
            application/json:
              schema: {}
        '404':
          description: The specified user cannot be found
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the metadata database
          content:
            application/json:
              schema: {}

      requestBody:
        $ref: '#/components/requestBodies/MetadataPermissionRequest'
    delete:
      description: Deletes all permissions on the given metadata.
      summary: MetaV2DataPemsByUuidAndUsernameDelete
      operationId: metadataPemsDelete
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the metadata item
          schema:
            type: string
        - name: username
          in: path
          required: true
          description: The username of the permission owner
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyMetadataResponse'
        '400':
          description: Raised if a metadata UUID is not supplied or is invalid.
          content:
            application/json:
              schema: {}
        '403':
          description: >-
            Failed to authenticate the user or the user is not authorized to
            access the specified metadata.
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the metadata database
          content:
            application/json:
              schema: {}

  '/meta/v2/schemas/{uuid}/pems':
    get:
      description: Get the permission ACL for this schema.
      summary: MetaV2SchemasPemsByUuidGet
      operationId: metadataSchemasPemsList
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the metadata schema item
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleMetadataSchemaPermissionResponse'
        '400':
          description: Raised if a schema UUID is not supplied or is invalid.
          content:
            application/json:
              schema: {}
        '403':
          description: >-
            Failed to authenticate the user or the user is not authorized to
            access the specified schema.
          content:
            application/json:
              schema: {}
        '404':
          description: The specified schema cannot be found
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the metadata schema database
          content:
            application/json:
              schema: {}

    post:
      description: Add or update a user's permission for the given schema.
      summary: MetaV2SchemasPemsByUuidPost
      operationId: metadataSchemasPemsAddUpdate
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the metadata schema item
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataSchemaPermissionResponse'
        '400':
          description: >-
            Raised if a valid schema UUID is not supplied or if the form is
            invalid.
          content:
            application/json:
              schema: {}
        '403':
          description: >-
            Failed to authenticate the user or the user is not authorized to
            access the specified schema.
          content:
            application/json:
              schema: {}
        '404':
          description: The specified user cannot be found
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the metadata schema database
          content:
            application/json:
              schema: {}

      requestBody:
        $ref: '#/components/requestBodies/MetadataPermissionRequest2'
    delete:
      description: Deletes all permissions on the given schema.
      summary: MetaV2SchemasPemsByUuidDelete
      operationId: metadataSchemasPemsDelete
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the metadata schema item
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyMetadataResponse'
        '400':
          description: Raised if a schema UUID is not supplied or is invalid.
          content:
            application/json:
              schema: {}
        '403':
          description: >-
            Failed to authenticate the user or the user is not authorized to
            access the specified schema.
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the metadata schema database
          content:
            application/json:
              schema: {}

  '/meta/v2/schemas/{uuid}/pems/{username}':
    get:
      description: Get the permission ACL for this schema.
      summary: MetaV2SchemasPemsByUuidAndUsernameGet
      operationId: metadataSchemasPemsDeleteByUser
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the metadata schema item
          schema:
            type: string
        - name: username
          in: path
          required: true
          description: The username of the permission owner
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataSchemaPermissionResponse'
        '400':
          description: Raised if a schema UUID is not supplied or is invalid.
          content:
            application/json:
              schema: {}
        '403':
          description: >-
            Failed to authenticate the user or the user is not authorized to
            access the specified schema.
          content:
            application/json:
              schema: {}
        '404':
          description: The specified schema cannot be found
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the metadata schema database
          content:
            application/json:
              schema: {}

    post:
      description: Add or update a user's permission for the given metadata schema.
      summary: MetaV2SchemasPemsByUuidAndUsernamePost
      operationId: metadataSchemasPemsAddUpdateByUser
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the metadata schema item
          schema:
            type: string
        - name: username
          in: path
          required: true
          description: The username of the permission owner
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataSchemaPermissionResponse'
        '400':
          description: >-
            Raised if a valid schema UUID is not supplied or if the form is
            invalid.
          content:
            application/json:
              schema: {}
        '403':
          description: >-
            Failed to authenticate the user or the user is not authorized to
            access the specified schema.
          content:
            application/json:
              schema: {}
        '404':
          description: The specified user cannot be found
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the metadata schema database
          content:
            application/json:
              schema: {}

      requestBody:
        $ref: '#/components/requestBodies/MetadataPermissionRequest2'
    delete:
      description: Deletes all permissions on the given metadata.
      summary: MetaV2SchemasPemsByUuidAndUsernameDelete
      operationId: metadataSchemasPemsDeleteByUserAndUuid
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the metadata schema item
          schema:
            type: string
        - name: username
          in: path
          required: true
          description: The username of the permission owner
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyMetadataResponse'
        '400':
          description: Raised if a schema UUID is not supplied or is invalid.
          content:
            application/json:
              schema: {}
        '403':
          description: >-
            Failed to authenticate the user or the user is not authorized to
            access the specified schema.
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the metadata schema database
          content:
            application/json:
              schema: {}

  /notifications/v2/:
    post:
      description: Update or Add new notification.
      summary: NotificationsV2Post
      operationId: NotificationsV2Post
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationResponse'
        '400':
          description: Raised if a user supplies an invalid form
          content:
            application/json:
              schema: {}
        '401':
          description: Raised if the user is not authorized.
          content:
            application/json:
              schema: {}
        '403':
          description: Failed to authenticate the user
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the notification database
          content:
            application/json:
              schema: {}

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationRequest'
        description: The notification to add.
        required: true
    get:
      description: Retrieve notification for a specific resource.
      summary: NotificationsV2Get
      operationId: NotificationsV2Get
      parameters:
        - name: associatedUuid
          in: query
          required: true
          description: >-
            The uuid of the associated resource. All notifications for this
            resource visible to the user will be returned.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleNotificationResponse'
        '400':
          description: >-
            Raised if a user does not supply a UUID or supplies an invalid JSON
            query
          content:
            application/json:
              schema: {}
        '401':
          description: Raised if the user is not authorized.
          content:
            application/json:
              schema: {}
        '403':
          description: Failed to authenticate the user
          content:
            application/json:
              schema: {}
        '404':
          description: The specified notification cannot be found
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the notification database
          content:
            application/json:
              schema: {}

  '/notifications/v2/{uuid}':
    get:
      description: Retrieve notification.
      summary: NotificationsV2ByUuidGet
      operationId: NotificationsV2ByUuidGet
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the notification item
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationResponse'
        '400':
          description: Raised if a user does not supply a UUID
          content:
            application/json:
              schema: {}
        '401':
          description: Raised if the user is not authorized.
          content:
            application/json:
              schema: {}
        '403':
          description: Failed to authenticate the user
          content:
            application/json:
              schema: {}
        '404':
          description: The specified notification cannot be found
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the notification database
          content:
            application/json:
              schema: {}

    post:
      description: Update or Add new notification.
      summary: NotificationsV2ByUuidPost
      operationId: NotificationsV2ByUuidPost
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the notification item
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationResponse'
        '400':
          description: Raised if a user supplies an invalid form
          content:
            application/json:
              schema: {}
        '401':
          description: Raised if the user is not authorized.
          content:
            application/json:
              schema: {}
        '403':
          description: Failed to authenticate the user
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the notification database
          content:
            application/json:
              schema: {}

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationRequest'
        description: The notification to update.
        required: true
    delete:
      description: Remove notification from the system.
      summary: NotificationsV2ByUuidDelete
      operationId: NotificationsV2ByUuidDelete
      parameters:
        - name: uuid
          in: path
          required: true
          description: The uuid of the notification item
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyNotificationResponse'
        '400':
          description: Raised if a user supplies no UUID
          content:
            application/json:
              schema: {}
        '401':
          description: Raised if the user is not authorized.
          content:
            application/json:
              schema: {}
        '403':
          description: Failed to authenticate the user
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the notification database
          content:
            application/json:
              schema: {}

  /postits/v2/:
    get:
      description: List existing PostIts
      summary: PostitsV2Get
      operationId: PostitsV2Get
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiplePostItResponse'

    post:
      description: Create a new PostIt
      summary: PostitsV2Post
      operationId: PostitsV2Post
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostIt'
        '400':
          description: Raised if a user supplies an invalid username format
          content:
            application/json:
              schema: {}
        '403':
          description: Failed to authenticate the user
          content:
            application/json:
              schema: {}
        '404':
          description: The user profile cannot be found
          content:
            application/json:
              schema: {}
        default:
          description: The service was unable to query the profile database
          content:
            application/json:
              schema: {}

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostItRequest'
        description: The PostIt to create.
        required: true
  '/postits/v2/{nonce}':
    delete:
      description: Immediately invalidates this PostIt URL.
      summary: PostitsV2ByNonceDelete
      operationId: PostitsV2ByNonceDelete
      parameters:
        - name: nonce
          in: path
          required: true
          description: The nonce of this PostIt URL
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinglePostItResponse'

  /systems/v2/:
    get:
      description: Show all systems available to the user.
      summary: SystemsV2Get
      operationId: systemsList
      parameters:
        - name: type
          in: query
          required: false
          description: The type of system to return
          schema:
            type: string
            enum:
              - STORAGE
              - EXECUTION
        - name: default
          in: query
          required: false
          description: Should only default systems be returned
          schema:
            type: boolean
        - name: public
          in: query
          required: false
          description: Should only publicly available systems be returned
          schema:
            type: boolean
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleSystemResponse'

    post:
      description: Find information about an individual system.
      summary: SystemsV2Post
      operationId: systemsCreate
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleSystemResponse'

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SystemRequest'
        description: The description of the system to add or update.
        required: true
  '/systems/v2/{systemId}':
    get:
      description: Find information about an individual system.
      summary: SystemsV2BySystemIdGet
      operationId: systemsGetByID
      parameters:
        - name: systemId
          in: path
          required: true
          description: The unique id of the system
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleSystemResponse'

    post:
      description: Find information about an individual system.
      summary: SystemsV2BySystemIdPost
      operationId: SystemsV2BySystemIdPost
      parameters:
        - name: systemId
          in: path
          required: true
          description: The unique id of the system
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleSystemResponse'

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SystemRequest'
        description: The description of the system to update.
        required: true
    put:
      description: Perform a management action on the system.
      summary: SystemsV2BySystemIdPut
      operationId: systemsPut
      parameters:
        - name: systemId
          in: path
          required: true
          description: The unique id of the system
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySystemResponse'

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SystemOperationRequest'
        description: The description of the system to update.
        required: true
    delete:
      description: Delete a system.
      summary: SystemsV2BySystemIdDelete
      operationId: SystemsV2BySystemIdDelete
      parameters:
        - name: systemId
          in: path
          required: true
          description: The unique id of the system
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySystemResponse'

  '/systems/v2/{systemId}/roles':
    get:
      description: Get a list of all users and their roles on this system.
      summary: SystemsV2RolesBySystemIdGet
      operationId: SystemsV2RolesBySystemIdGet
      parameters:
        - name: systemId
          in: path
          required: true
          description: The id of the system.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleSystemRoleResponse'

    post:
      description: Add or update a user's role on a system.
      summary: SystemsV2RolesBySystemIdPost
      operationId: systemsRolesAddUpdate
      parameters:
        - name: systemId
          in: path
          required: true
          description: The id of the system.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySystemResponse'

      requestBody:
        $ref: '#/components/requestBodies/SystemRole'
    delete:
      description: Deletes all roles on a system.
      summary: SystemsV2RolesBySystemIdDelete
      operationId: systemsRolesDelete
      parameters:
        - name: systemId
          in: path
          required: true
          description: The id of the system.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySystemResponse'

  '/systems/v2/{systemId}/roles/{username}':
    get:
      description: Get a specific user's roles on this system.
      summary: SystemsV2RolesBySystemIdAndUsernameGet
      operationId: systemsRolesGetByUsername
      parameters:
        - name: systemId
          in: path
          required: true
          description: The id of the system.
          schema:
            type: string
        - name: username
          in: path
          required: true
          description: The username of the user about whose role you are inquiring.
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleSystemRoleResponse'

    post:
      description: Add or update a user's role on a system.
      summary: SystemsV2RolesBySystemIdAndUsernamePost
      operationId: systemsRolesAddUpdateByUsername
      parameters:
        - name: systemId
          in: path
          required: true
          description: The id of the system.
          schema:
            type: string
        - name: username
          in: path
          required: true
          description: The username of the api user associated with the role
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySystemResponse'

      requestBody:
        $ref: '#/components/requestBodies/SystemRole'
    
  
  

components:
  requestBodies:
    InternalUserRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InternalUserRequest'
      description: The internal user to create.
      required: true
    ApplicationRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApplicationRequest'
      description: The description of the app to add or update.
      required: true
    UserCredential:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserCredential'
      description: The description of the internal user credential to add or update.
      required: true
    FileOperationRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FileOperationRequest'
      description: The operation to perform.
      required: true
    importDefault:
      content:
        multipart/form-data:
          schema:
            type: object
            properties:
              fileType:
                description: >-
                  The file format this file is in. Defaults to raw. This will be
                  used in file transform operations.
                type: string
              callbackURL:
                description: >-
                  The URI to notify when the import is complete. This can be an
                  email address or http URL. If a URL is given, a GET will be
                  made to this address. URL templating is supported. Valid
                  template values are ${NAME}, ${SOURCE_FORMAT},
                  ${DEST_FORMAT}, ${STATUS}
                type: string
              fileName:
                description: >-
                  The name of the file after importing. If not specified, the
                  uploaded file name will be used.
                type: string
              urlToIngest:
                description: >-
                  The URL to import the file from. This parameter is used if not
                  file is uploaded with this post.
                type: string
              fileToUpload:
                description: The file object to import.
                type: string
    TransformRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransformRequest'
      description: The transfer request details.
      required: true
    ApplicationPermissionRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApplicationPermissionRequest'
      description: The permission add or update.
      required: true
    FilePermissionRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FilePermissionRequest'
      description: The permission add or update.
      required: true
    metadataSchemasCreateBody:
      content:
        application/json:
          schema:
            type: string
      description: A valid JSON Schema object
      required: true
    MetadataPermissionRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MetadataPermissionRequest'
      description: The metadata permission to update.
      required: true
    MetadataPermissionRequest2:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MetadataPermissionRequest'
      description: The schema permission to update.
      required: true
    MonitorRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MonitorRequest'
      description: >-
        The description of the app to add or update. This can be either a file
        upload or json posted to the request body.
      required: true
    SystemRole:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SystemRole'
      description: The role to update.
      required: true
  securitySchemes:
    Oauth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'https://api.tacc.utexas.edu/login'
          scopes:
            PRODUCTION: catchall grant type for all api services.
    bearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
    wso2jwtDevAuth:
      type: apiKey
      in: header
      name: X-JWT-Assertion-DEV
  schemas:
    SingleSubscriptionResponse:
      title: SingleSubscriptionResponse
      type: object
      properties:
        status:
          description: success or failure
          type: string
        message:
          description: success or failure
          type: string
        result:
          $ref: '#/components/schemas/Subscription'
    Subscription:
      title: Subscription
      type: object
      properties:
        status:
          description: The current status of the API.
          type: string
        apiProvider:
          description: The user who registered the API.
          type: string
        apiContext:
          description: The base url path of the API.
          type: string
        apiVersion:
          description: >-
            The current major version of the API. This is appended to the
            api_context to create the base API url.
          type: string
        apiName:
          description: The name of the API.
          type: string
        tier:
          description: The access tier for this client.
          type: string
    MultipleClientResponse:
      title: MultipleClientResponse
      type: object
      properties:
        status:
          description: success or failure
          type: string
        message:
          description: success or failure
          type: string
        result:
          description: List of clients
          type: array
          items:
            $ref: '#/components/schemas/Client'
    Client:
      title: Client
      type: object
      properties:
        name:
          description: The name of the client.
          type: string
        consumerKey:
          description: The API key for this client.
          type: string
        tier:
          description: The access tier for this client.
          type: string
        callbackUrl:
          description: Callback URL for OAuth authentication grant.
          type: string
        consumerSecret:
          description: The API secret for this client.
          type: string
        description:
          description: >-
            Description of the client. This will be shown to users when
            authentication via OAuth web flows
          type: string
    EmptyClientResponse:
      title: EmptyClientResponse
      type: object
      properties:
        status:
          description: success or failure
          type: string
        message:
          description: success or failure
          type: string
        result:
          type: string
    EmptySubscriptionResponse:
      title: EmptySubscriptionResponse
      type: object
      properties:
        status:
          description: success or failure
          type: string
        message:
          description: success or failure
          type: string
        result:
          type: string
    ClientSubscriptionRequest:
      title: ClientSubscriptionRequest
      type: object
      properties:
        tier:
          $ref: '#/components/schemas/Tier'
        apiProvider:
          description: The user who registered the API.
          type: string
        apiVersion:
          description: >-
            The current major version of the API. This is appended to the
            api_context to create the base API url.
          type: string
        apiName:
          description: The name of the API.
          type: string
    Tier:
      title: Tier
      description: The access tier for this client.
      example: UNLIMITED
      type: string
      enum:
        - UNLIMITED
        - GOLD
        - SILVER
        - BRONZE
    MultipleSubscriptionResponse:
      title: MultipleSubscriptionResponse
      type: object
      properties:
        status:
          description: success or failure
          type: string
        message:
          description: success or failure
          type: string
        result:
          description: List of subscriptions
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
    SingleClientResponse:
      title: SingleClientResponse
      type: object
      properties:
        status:
          description: success or failure
          type: string
        message:
          description: success or failure
          type: string
        result:
          $ref: '#/components/schemas/Client'
    ClientRequest:
      title: ClientRequest
      type: object
      properties:
        tier:
          $ref: '#/components/schemas/Tier'
        callbackUrl:
          description: Callback URL for OAuth authentication grant.
          type: string
        name:
          description: The name of the client.
          type: string
        description:
          description: >-
            Description of the client. This will be shown to users when
            authentication via OAuth web flows
          type: string
    MultipleApplicationResponse:
      title: MultipleApplicationResponse
      type: object
      properties:
        status:
          description: success or failure
          type: string
        message:
          description: success or failure
          type: string
        result:
          description: response body
          type: array
          items:
            $ref: '#/components/schemas/ApplicationSummary'
    ApplicationSummary:
      title: ApplicationSummary
      type: object
      properties:
        name:
          description: >-
            The name of the application. The name does not have to be unique,
            but the combination of name and version does.
          type: string
        lastModified:
          description: The date this application was last modified in ISO 8601 format.
          type: string
        isPublic:
          description: Whether the application is public or private.
          type: boolean
        executionSystem:
          description: The system id of the execution system where this app should run.
          type: string
        version:
          description: >-
            The version of the application in #.#.# format. While the version
            does not need to be unique, the combination of name and version does
            have to be unique.
          type: string
        shortDescription:
          description: The short description of this application.
          type: string
        id:
          description: Unique id of this app. Comprised of the app name-version.
          type: string
        revision:
          description: The number of times this application has been revised.
          type: integer
          format: int32
    ACL:
      title: ACL
      type: object
      properties:
        read:
          description: can read
          type: boolean
        write:
          description: can write
          type: boolean
    Application:
      title: Application
      type: object
      properties:
        defaultMemoryPerNode:
          description: >-
            The default memory in GB to pass to the scheduler if none is given
            in the job description. This must be less than the max memory
            parameter in the target queue definition.
          type: string
        defaultQueue:
          description: >-
            The queue on the execution system that should be used if none is
            given in a job description. Ignore if the system does not support
            schedulers.
          type: string
        id:
          description: Unique id of this app. Comprised of the app name-version.
          type: string
        uuid:
          description: The UUID of this application. UUID are 36 alphanumeric string.
          type: string
        parameters:
          description: The inputs parameters for this application.
          type: array
          items:
            $ref: '#/components/schemas/ApplicationParameter'
        shortDescription:
          description: The short description of this application.
          type: string
        defaultNodeCount:
          description: >-
            The number of nodes that should be used if none is given in a job
            description. Ignore if the system does not support schedulers.
          type: string
        label:
          description: The label to use when generating forms.
          type: string
        defaultProcessorsPerNode:
          description: >-
            The number of processors to pass to the scheduler if none are given
            in the job description. This must be 1 if the app is serial.
          type: string
        version:
          description: >-
            The version of the application in #.#.# format. While the version
            does not need to be unique, the combination of name and version does
            have to be unique.
          type: string
        templatePath:
          description: The path to the wrapper script relative to the deploymentPath.
          type: string
        defaultMaxRunTime:
          description: >-
            The max execution time that should be used if none is given in a job
            description. Ignore if the system does not support schedulers.
          type: string
        revision:
          description: The number of times this application has been revised.
          type: integer
          format: int32
        available:
          description: Whether the application is available.
          type: boolean
        inputs:
          description: The inputs files for this application.
          type: array
          items:
            $ref: '#/components/schemas/ApplicationInput'
        tags:
          description: An array of tags related to this application.
          type: array
          items:
            type: string
        outputs:
          description: The outputs files for this application.
          type: array
          items:
            $ref: '#/components/schemas/ApplicationOutput'
        isPublic:
          description: Whether the application is public or private.
          type: boolean
        longDescription:
          description: >-
            The full text description of this input to use when generating
            forms.
          type: string
        executionSystem:
          description: The system id of the execution system where this app should run.
          type: string
        testPath:
          description: The path to the test script relative to the deploymentPath.
          type: string
        ontology:
          description: An array of ontology values describing this application.
          type: array
          items:
            type: string
        deploymentPath:
          description: >-
            The location in the user's default storage system containing the
            application wrapper and dependencies.
          type: string
        icon:
          description: The icon to associate with this app.
          type: string
        deploymentSystem:
          description: The system id of the storage system where this app should run.
          type: string
        name:
          description: >-
            The name of the application. The name does not have to be unique,
            but the combination of name and version does.
          type: string
        checkpointable:
          description: Whether the application supports checkpointing.
          type: boolean
        lastModified:
          description: The date this application was last modified in ISO 8601 format.
          type: string
        modules:
          description: >-
            An array of modules to load prior to the execution of the
            application.
          type: array
          items:
            type: string
        executionType:
          $ref: '#/components/schemas/ExecutionType'
        parallelism:
          $ref: '#/components/schemas/Parallelism'
        helpURI:
          description: The URL where users can go for more information about the app.
          type: string
    ApplicationParameter:
      title: ApplicationParameter
      type: object
      properties:
        value:
          $ref: '#/components/schemas/ApplicationParameterValue'
        details:
          $ref: '#/components/schemas/ApplicationParameterDetails'
        semantics:
          $ref: '#/components/schemas/ApplicationParameterOntology'
        id:
          description: >-
            The id of this parameter. This will be the replacement string in
            your wrapper scripts.
          type: string
    ApplicationParameterValue:
      title: ApplicationParameterValue
      type: object
      properties:
        defaultValue:
          description: >-
            The default value for this parameter. The type will be determined by
            the value.type field.
          type: string
        required:
          description: 'Is this parameter required? If visible is false, this must be true.'
          type: boolean
        visible:
          description: >-
            Should this parameter be visible? If not, there must be a default
            and it will be required.
          type: boolean
        validator:
          description: >-
            The regular expression used to validate this parameter value. For
            enumerations, separate values with |
          type: string
        type:
          description: >-
            (Acceptable values are: "string", "number", "enumeration", "bool",
            "flag")
          example: string
          type: string
        order:
          description: >-
            The order in which this parameter should be printed when generating
            an execution command for forked execution. This will also be the
            order in which paramters are returned in the response json.
          type: integer
          format: int32
        enum_values:
          description: An array of enumerated object values.
          type: array
          items:
            type: string
    ApplicationParameterDetails:
      title: ApplicationParameterDetails
      type: object
      properties:
        argument:
          description: 'The command line value of this parameter (ex -n, --name, -name, etc)'
          type: string
        showArgument:
          description: >-
            Whether the argument value should be passed into the wrapper at run
            time
          type: boolean
        description:
          description: Description of this parameter.
          type: string
        label:
          description: The label for this parameter
          type: string
    ApplicationParameterOntology:
      title: ApplicationParameterOntology
      type: object
      properties:
        ontology:
          type: array
          items:
            type: string
    ApplicationInput:
      title: ApplicationInput
      type: object
      properties:
        value:
          $ref: '#/components/schemas/ApplicationInputValue'
        details:
          $ref: '#/components/schemas/ApplicationInputDetails'
        semantics:
          $ref: '#/components/schemas/ApplicationInputOntology'
        id:
          description: >-
            The id of this input. This will be the replacement string in your
            wrapper scripts.
          type: string
    ApplicationInputValue:
      title: ApplicationInputValue
      type: object
      properties:
        visible:
          description: >-
            Should this parameter be visible? If not, there must be a default
            and it will be required.
          type: boolean
        defaultValue:
          description: >-
            The default value for this parameter. The type will be determined by
            the value.type field.
          type: string
        required:
          description: 'Is this parameter required? If visible is false, this must be true.'
          type: boolean
        order:
          description: >-
            The order in which this parameter should be printed when generating
            an execution command for forked execution. This will also be the
            order in which paramters are returned in the response json.
          type: integer
          minimum: 0
          format: int32
        validator:
          description: >-
            The regular expression used to validate this parameter value. For
            enumerations, separate values with |
          type: string
    ApplicationInputDetails:
      title: ApplicationInputDetails
      type: object
      properties:
        argument:
          description: 'The command line value of this input (ex -n, --name, -name, etc)'
          type: string
        showArgument:
          description: >-
            Whether the argument value should be passed into the wrapper at run
            time
          type: boolean
        description:
          description: Description of this input.
          type: string
        label:
          description: The label for this input
          type: string
    ApplicationInputOntology:
      title: ApplicationInputOntology
      type: object
      properties:
        minCardinality:
          description: The minimum number of times this input may appear.
          type: integer
          format: int32
        ontology:
          type: array
          items:
            type: string
[...]
